<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Photomania.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2A123E921C2845B300C0D6E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A123EAB1C2845B300C0D6E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A123EB61C2845B400C0D6E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
